
<h1>About Us</h1>

<p>Welcome to Student's Interceder, the one-stop shop for all your Uniform, Books, Sporting and Stationery needs !
    Whether you need uniforms for the young ones returning to school, stationery for the budding artists,
    trendy bags for college, or sporting equipment for the active ones, we has it all.
    We ensure you a delightful shopping experience all the time, every time. We’ve all been there.
    Shopping for the beginning of the school season. Taking a day off to shop.
    Long queues at uniform shops. Sizes unavailable. Designs unavailable. And above all,
    an experience that should be full of the joy of getting new clothes is full of hassle and 
    turns out to be an expensive affair. We firmly believe that every shopping experience should
    remain simple, fun and easy on the pocket. As easy as using your cellphone or computer,
    as convenient as having your products delivered to your doorstep, and as fun as getting 
    to browse through hundreds of different items at your own leisure and convenience.
    And that is basically our idea. Keeping things fun and simple for you, and taking you back to
    the delightful experience school shopping should be! All products sold on Student's Interceder
    are 100% genuine and can be easily exchanged as per the customer friendly returns and exchange policy.</p>

<br>
<h2>Cash On Delivery & Other Easy Payment Options</h2>

<p style="text-align: center;">Order School Uniforms, Shoes, Books, Stationery, Bags, Bottles,
    Toys, Games and a lot more from the comfort of your home.</p>
<br>
